{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}SmartStudy{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'Djangoapp/css/explorer.css' %}">
{% endblock %}
{% block content %}
    <div class="explorer-content" style="background-image: url('{% static 'Djangoapp/img/background.png' %}">
        <div class="empty"></div>
        <div class="explorer-container">
            <div class="explorer-title">
                {% block explorer-title %}Предметы{% endblock %}
            </div>
            <div class="explorer">
                <a href="https://disk.yandex.com" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>Интернет Технологии</p>
                </a>
                <a href="https://disk.yandex.com" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>Управление информационными проектами</p>
                </a>
                <a href="https://disk.yandex.com" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>Прикладные экономические пакеты</p>
                </a>

            </div>
        </div>
        <div class="empty"></div>
    </div>
{% endblock %}