{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}SmartStudy{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'Djangoapp/css/profile_edit.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-edit-content">
        <div class="empty"></div>
        <div class="profile-edit-container">
            <div class="profile-edit-title">
                Редактирование профиля
            </div>
           <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Сохранить</button>
</form>
{% endblock %}